<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Employee CRUD</span>
        <div class=" m-lg-2"></div>
        <div class="row">
            <div class="col col-md-auto">
                      <button mat-mini-fab color="basic" matTooltip="Add new Emp" (click)="AddEmp()">
            <mat-icon>add</mat-icon>
        </button>
            </div>
           
            <div class="col col-md-auto">
                   <button mat-mini-fab matTooltip="Send Message SignalR with JWT" color="basic" (click)="Send()">
            <mat-icon>send</mat-icon>
        </button>
            </div>
            <div class="col col-md-auto">
                <button mat-mini-fab color="basic" matTooltip="Exit" (click)="Exit()">
         <mat-icon>exit_to_app</mat-icon>
     </button>
         </div>
        </div>
  
     
    </mat-toolbar-row>
</mat-toolbar>