<mat-card>
    <mat-card-title>List of Employee</mat-card-title>
    <mat-card-content>
        <div class="row">
            <table datatable [dtOptions]="dtOptions" >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Gender</td>
                        <td>Age</td>
                        <td>Address</td>
                        <td>Tel</td>
                        <td>DOB</td>
                        <td>Department</td>
                        <td>img</td>
                        <td>BasicSalary</td>
                    </tr>
                </thead>
            </table>
        </div>
    </mat-card-content>
</mat-card>