<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span>Setting Brnach</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col col-sm-12 col-md-6">
                <form [formGroup]="frm" (submit)="Submit()">
                         <div class="row">
                    <mat-form-field>
                        <mat-label>Brnach</mat-label>
                        <input matInput formControlName="branchName">
                        
                    </mat-form-field>
                </div>
                  <div class="row">
                    <button mat-raised-button color="primary">
                        <mat-icon>check_circle_outline</mat-icon>&nbsp; Submit
                    </button>
                </div>
                </form>
                
            </div>
            <div class="col col-sm-12 col-md-6">
                <table class="table table-striped table-responsive table-hover">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Branch</td>
                            <td>#</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of branch;index as i">
                            <td>{{i+1}}</td>
                            <td>{{d.branchName}}</td>
                            <td>
                                <div class="row">
                                    <div class="col col-md-auto">
                                        <button mat-stroked-button 
                                       (click)="Action(d,'edit')" color="primary">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col col-md-auto">
                                        <button mat-stroked-button
                                        (click)="Action(d,'delete')"  color="warn">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </mat-card-content>
</mat-card>