<button mat-flat-button mat-dialog-close>
    <mat-icon color="warn">close</mat-icon>
</button><br>

<div class="row">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span>Forward to</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <form [formGroup]="frm">
                    <ng-select placeholder="Select Department"
                    formControlName="departmentId" (change)="selectChange($event)">
                        <ng-option *ngFor="let d of dept" [value]="d.departmentId">{{d.departmentName}}</ng-option>
                    </ng-select>
                </form>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="row">
                <button mat-raised-button color="primary" (click)="Submit()">
                    <mat-icon>check_circle_outline</mat-icon>&nbsp; Submit
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>