#mat-card:hover {
    transform: scale(1);
    transition: all 0.2s ease, background-color 0.4s ease-in;
    box-shadow: 0 18px 28px 3px #dbd8d480,
        0 9px 36px 8px rgba(0, 0, 0, 0.12), 0 9px 12px -7px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    cursor: pointer;
}
.bg1
{
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}
.bg2
{
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}
.bg3
{
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
}
.logo
{
    background-image: url('../../../../assets/images/zone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;border-radius: 30%;
}